.barra_title_pagamento{
	width: 1100px;
	height: 30px;
	background-color: grey;
	float: left;
	padding-top: 10px;
	margin-left: 5px;
	margin-top: 40px;
	border-radius: 0 20px 0 0;
}
.corpo_pagamento_options{
	width: 1100px;
	height: 100px;
	background-color: lightgrey;
	float: left;
	padding-top: 30px;
	margin-left: 5px;
}
.text_escolha_pagamento{
	font-size: 21px;
	margin-left: 5px;
}
.text_escolha_pagamento_aux{
	font-size: 14px;
	color: white;
	margin-left: 5px;
	margin-top: -5px;
}
.logo_pagamento_radio{
	height: 50px;
	padding-top: 20px;
	width: 120px;
	margin-left: 80px;
	display: inline-table;	
}
#botao_gerar_boleto{
	height: 50px;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 91%);
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	border-radius: 5px;
	color: white;
	border-color: red;
	float: right;
	margin-right: 50px;
}
.corpo_pagamento_dados{
	width: 1100px;
	height: 300px;
	background-color: lightgrey;
	float: left;
	padding-top: 30px;
	margin-left: 5px;
	margin-bottom: 20px;
}
.text_dados_cartao{
	font-size: 18px;
	margin-left: 45px;
	margin-top: 20px;
}
.dados_cartao{
	padding: 6px 6px;
	color: #1C1C1C;
	margin-left: 5px;
	margin-top: 20px
}
.dados_cartao_2{
	padding: 6px 6px;
	color: #1C1C1C;
	margin-left: 70px;
	margin-top: 20px
}
.dados_cartao_3{
	padding: 6px 6px;
	color: #1C1C1C;
	margin-left: 20px;
	margin-top: 20px
}
#dropdown_ano{
	padding: 6px 6px;
}
#dropdown_mes{
	padding: 6px 6px;
	margin-top: 20px
}
.text_qtd_valor{
	font-size: 18px;
	font-family: "Times New Roman";
	margin-left: 45px;
	margin-top: 20px;
	color: red;
}
#botao_fecha_compra{
	height: 40px;
	padding-top: 20px;
	padding-left: 20px;
	width: 85px;
	font-size: 14px;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 91%);
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	border-radius: 5px;
	color: white;
	border-color: red;
	float: right;
	margin-right: 50px;
}